In [136]:
ingresos = 1000
gastos = 400

In [137]:
ingresos

1000

In [138]:
ingresos
gastos

400

In [139]:
print(ingresos)
print(gastos)

1000
400

In [140]:
margen = ingresos-gastos

In [141]:
print(margen)

600

In [142]:
ingresos_text= "Los ingresos han sido altos"
ingresos_alt= "Los ingresos han sido altos"
print(ingresos_text)
print(ingresos_alt)

Los ingresos han sido altos
Los ingresos han sido altos

In [143]:
ingresos_text="Los ´ingresos´ han sido altos"

In [144]:
ingresos_text

'Los ´ingresos´ han sido altos'

In [145]:
ingresos=1000
ingresos = 1000
ingresos text= "Los ingresos han sido altos, pero esto da error"

SyntaxError: invalid syntax (1876660609.py, line 3)

In [ ]:
ingresos_text = "Los "ingresos" han sido altos"

In [ ]:
gastos = 200

In [ ]:
print(gastos)

In [ ]:
gastos = 100

In [ ]:
beneficios = ingresos - gastos

In [ ]:
print(beneficis)

In [ ]:
texto = "Error sin comillas

In [ ]:
2009_ingresos

In [ ]:
ingresos_2009 = 25000

In [ ]:
print(ingresos_2009)

In [ ]:
print(Ingresos)

In [ ]:
def = 10

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
help ("keywords")

In [ ]:
ingresos = 1000
gastos = 100
beneficios = ingresos - gastos

In [ ]:
print(ingresos)
print(gastos)
print("Los beneficios han sido de:")
print(beneficios)

In [ ]:
mes = "junio"
print("Los beneficios de %s han sido %s millones" %(mes,beneficios))

In [ ]:
print("Los beneficios de %s han sido %s millones" %(beneficios,mes))

In [ ]:
mes = "agosto"
print("Los beneficios de", mes,"han sido", beneficios,"millones")

In [ ]:
# Comentario de línea
#print("Esto lo ignora")
print("Esto si lo ejecutara")

In [ ]:
print("Fin del programa") #Esta línea indica que hemos terminado

In [ ]:
'''
Comentario multilinea
Puedo usar varias lineas sin tener que repetir el #
'''
"""
Los comentarios multilinea pueden ir
entre comillas dobles, y tampoco se ejecutan o interpretan
este
print("No se va a ejecutar")
"""
print("Este print si se va a ejecutar")

In [ ]:
ventas_jun_jul = ventas_jun + ventas_jul

ventas_jun = 100
ventas_jul = 150

In [ ]:
ventas_jun

In [ ]:
ventas_jun = 100
ventas_jul = 150
ventas_jun_jul = ventas_jun + ventas_jul

In [ ]:
print("Las ventas de junio a julio son",ventas_jun_jul)

In [ ]:
altura = 1.80; peso = 75
print(altura, peso)

In [ ]:
x,y,z = 12, 23, 45

In [ ]:
x = 12
y = 23
z = 45

In [ ]:
altura = 1.85
del altura
print(altura)

In [ ]:
numero = 22
type(numero)

In [ ]:
numero_real = 22.0
print(type(numero_real))

In [ ]:
numero_real_decimales = 22.45123
type(numero_real_decimales)

In [ ]:
print("Sumas y restas")
print(1 + 2)
print(1.0 + 2) #Fijate que cuando sumo un float con int, el resultado es float
print( 1.0 - 2)#Siempre float como tipo de resultado

In [ ]:
print("Mult y div")
print(2 * 2)
print (2.0 * 2)
print(2 / 2)# El tipo de resultado de una división siempre va a ser float y habria que hacer cambio a int.

In [ ]:
print("Resto División")
print(10/3)
print(int(10/3))
print(10 % 3)
print(10 // 3)

In [ ]:
n = 434
print("¿Es" ,n, "par?")
resto = n % 2
print("El resto es",resto)
if resto ==0:
    print("Es par")
else:
    print("Es impar")

In [ ]:
# Con comillas dobles
cadena = "Esto es una variable de tipo string"

#Con comillas simples
cadena_2 = 'Esto es una variable de tipo string en comillas simples'
print(cadena)
print(cadena_2)

In [ ]:
print("String con'simples'")
print('String con "dobles"')
print("String con \"simples o dobles\"")

In [ ]:
print("Primera linea\nSegunda linea\tTercera linea, tabulada")

In [ ]:
mi_string = "primera lines\nSegunda Linea\n\tTercera linea, tabulada"
print(mi_string)

In [ ]:
nombre = "Mirian"
apellido = "Moreno"
nombre_apellido = nombre + " " + apellido
print(nombre_apellido)

In [ ]:
nombre = "Mirian"
apellido = "Moreno"
espacio = " "
nombre_apellido = nombre + espacio + apellido
print(nombre_apellido)

In [ ]:
esto_es_una_prueba = "Pues eso, que estamos jugando"
un_entero = 100
print(esto_es_una_prueba + un_entero)

In [ ]:
True

In [ ]:
ya_se_de_python = False
print(type(ya_se_de_python))

In [ ]:
dinerito = 5
dinerito >= 15

In [ ]:
dinerito = 15
cond_1 = dinerito >= 15
print(cond_1)
print(type(cond_1))

In [ ]:
print(type(1.0))

In [ ]:
print(type(-74))

In [ ]:
print(type("3.45"))

In [ ]:
print(type(True))

In [ ]:
print(type(cond_1))

In [ ]:
num_real = 24.69
print(type(num_real))

num_entero = int(num_real)
print(num_entero)
print(type(num_entero))

In [ ]:
# Función round--> 2 argumentos, el número y la cantidad de decimales a la que queremos redondear.
# Veremos funciones más adelante.
num_real = 24.686
num_redondeado = round(num_real,2)
print(num_redondeado)

In [ ]:
num_redondeado = 24.69
num_convertido = round(num_redondeado,0)
print(num_convertido)
print(type(num_convertido))

In [ ]:
print(int(num_convertido))

In [ ]:
num_real = 24.69
num_entero = 12

real_str = str(num_real)
entero_str = str(num_entero)

print(real_str, "su tipo" , type(real_str))
print(entero_str, "su tipo", type(entero_str))

In [ ]:
print(num_real + num_entero)
print(real_str + entero_str)

In [ ]:
mi_entero = 98
print(mi_entero)

In [ ]:
mi_cadena = "98"
mi_entero = int(mi_cadena)

print(mi_cadena, type(mi_cadena))
print(mi_entero, type(mi_entero))
mi_cadena_real = "98,33"
mi_real = float(mi_cadena_real)

In [ ]:
mi_cadena_real = "98.33"
mi_real = float(mi_cadena_real)
print(mi_real, type(mi_real))

In [ ]:
booleano = bool(123)
print(booleano, type(booleano))

In [ ]:
booleano = bool(0)
print(booleano, type(booleano))

In [ ]:
booleano = bool("")
booleano_2 = bool("Esto es otro tipo de booleano al hacer la conversión")
print(booleano, type(booleano))
print(booleano_2, type(booleano_2))

In [ ]:
bool_str = str(booleano)
bool_2_str = str(booleano_2)
print(bool_str, bool_2_str)

In [1]:
real_str = "68,34"
real = float(real_str)

ValueError: could not convert string to float: '68,34'

In [13]:
nuevo_str = real_str.replace(",",".")
print(type(nuevo_str))
print(nuevo_str)

<class 'str'>
68.34

In [15]:
real = float(nuevo_str)
print(real, type(real))

68.34 <class 'float'>

In [17]:
primer_input = input("Escribeme argo mi arma")

Escribeme argo mi arma 98

In [19]:
print(primer_input)

98

In [21]:
type(primer_input)

str

In [29]:
nombre = input("¿Como te llamas alma cándida de dios?")
print ("Encantado de conocerte", nombre)
preferencias = input("Y,¿Que te parece este magnifico video?")
print("coincido")

¿Como te llamas alma cándida de dios? Pepito

Encantado de conocerte Pepito

Y,¿Que te parece este magnifico video? Muy interesante

coincido

In [31]:
print(None)

None

In [35]:
print(type(None))

<class 'NoneType'>

In [37]:
"" == None

False

In [39]:
0 == None

False

In [41]:
False == None

False

In [45]:
import this

In [51]:
# Declarar y asignar una variable entera
entero = 4
# Declarar y asinar una variale real o float
real = 14.3
# Sumar las variables y mostrar el resultado
resultado = entero + real
print(resultado)
# Mostrar que tipo es el resultado
print(type(resultado))
# Multiplicar ambas variables y mostrar el resultado
multi = entero * real
print(multi)
print(type(multi))
# Elevar una a la otra
potencia = entero ** real
print(potencia)
print(type(potencia))
# Dividir una por otra y mostrar ademas el resto y el cociente
divi = entero / real
resto = entero // real
cociente = entero % real
print(divi,"\n",resto,"\n",cociente)

18.3
<class 'float'>
57.2
<class 'float'>
406872067.69797343
<class 'float'>
0.2797202797202797
 0.0
 4.0

In [57]:
print("Conmutativa")
print(2 * 3)
print(3 * 2)

print("\nAsociativa")
print((3 * 2) *5)
print(3 * (2 * 5))

print("\nDsitributiva")
print(2 * (3 + 5))
print(2 * 3 + 2 * 5)

print("\nEl orden de operaciones se mantiene. Siempre podemos usar paréntesis")
print(2 * (2+ 3) * 5)
print((2 * 2 + 3 * 5)/(4 + 7))

Conmutativa
6
6

Asociativa
30
30

Dsitributiva
16
16

El orden de operaciones se mantiene. Siempre podemos usar paréntesis
50
1.7272727272727273

In [63]:
import math
print(math.sqrt(25)) # Raíz cuadrada
print(math.cos(0))
print(math.fabs(-123.45)) # abs que tenemos por defecto en Python

5.0
1.0
123.45

In [67]:
4/0

ZeroDivisionError: division by zero

In [69]:
variable_a / variable_b

NameError: name 'variable_a' is not defined

In [71]:
math.sqrt(-12)

ValueError: math domain error

In [75]:
# Asignación
asign = 1
print(asign)

#Comparación
print(asign == 5)
print(asign)

1
False
1

In [87]:
print("AAA" == "BBB")
print("AAA" == "AAA")
print(93 > 12)
print (1 == 1.0)
print (93 < 12)

False
True
True
True
False

In [89]:
print( 1 == "1")
print ("Hola" == True)

False
False

In [91]:
print("17" >= 23)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [93]:
# Primer Ordenador:
ram_1 = 16
process_1 = "i5"
Disco_1 = 500
Precio_1 = 850

# Segundo Ordenador:
ram_2 = 8
process_2 = "i5"
Disco_2 = 500
Precio_2 = 600

# Tercer Ordenador:
ram_3 = 32
process_3 = "i3"
Disco_3 = 500
Precio_3 = 780

In [98]:
cond_ram1 = (ram_1 == 16 or ram_1 == 32 or ram_1 == 64)  #OR me vale con que se cumpla 1 de las condiciones.
cond_process1 = (process_1 == "i3" and Disco_1 == 500) #AND todas las condiciones deben ser True.
cond_precio1 = (Precio_1 < 800)
cond_total1 = cond_ram1 and cond_process1 and cond_precio
print(cond_total1, cond_ram1, cond_process1, cond_precio1)

False True False False

El primer ordenador cumple el requisito de ram, pero no los de precio y procesador/disco.

In [106]:
# Segundo Ordenador:
ram_2 = 8
process_2 = "i5"
Disco_2 = 500
Precio_2 = 600

In [113]:
cond_ram2 = (ram_2 == 16 or ram_2 == 32 or ram_2 == 64)  #OR me vale con que se cumpla 1 de las condiciones.
cond_process2 = (process_2 == "i3" and Disco_2 == 500) #AND todas las condiciones deben ser True.
cond_precio2 = (Precio_2 < 800)
cond_total2 = cond_ram2 and cond_process2 and cond_precio2
print(cond_total2, cond_ram2, cond_process2, cond_precio2)

False False False True

El segundo ordenador la única condición que cumple, es la de precio.

In [116]:
# Tercer Ordenador:
ram_3 = 32
process_3 = "i3"
Disco_3 = 500
Precio_3 = 780

In [118]:
cond_ram3 = (ram_3 == 16 or ram_3 == 32 or ram_3 == 64)  #OR me vale con que se cumpla 1 de las condiciones.
cond_process3 = (process_3 == "i3" and Disco_3 == 500) #AND todas las condiciones deben ser True.
cond_precio3 = (Precio_3 < 800)
cond_total3 = cond_ram3 and cond_process3 and cond_precio3
print(cond_total3, cond_ram3, cond_process3, cond_precio3)

True True True True

Bingo! El tercer ordenador cumple todos los requisitos, por ello, es el que debemos escoger.