In [5]:
ingresos = 1000
gastos = 400

In [6]:
ingresos

1000

In [7]:
ingresos
gastos

400

In [8]:
print(ingresos)
print(gastos)

1000
400

In [9]:
margen = ingresos-gastos

In [10]:
print(margen)

600

In [11]:
ingresos_text= "Los ingresos han sido altos"
ingresos_alt= "Los ingresos han sido altos"
print(ingresos_text)
print(ingresos_alt)

Los ingresos han sido altos
Los ingresos han sido altos

In [12]:
ingresos_text="Los ´ingresos´ han sido altos"

In [13]:
ingresos_text

'Los ´ingresos´ han sido altos'

In [14]:
ingresos=1000
ingresos = 1000
ingresos text= "Los ingresos han sido altos, pero esto da error"

SyntaxError: invalid syntax (1876660609.py, line 3)

In [ ]:
ingresos_text = "Los "ingresos" han sido altos"

In [ ]:
gastos = 200

In [ ]:
print(gastos)

In [ ]:
gastos = 100

In [ ]:
beneficios = ingresos - gastos

In [19]:
print(beneficis)

NameError: name 'beneficis' is not defined

In [17]:
texto = "Error sin comillas

SyntaxError: unterminated string literal (detected at line 1) (90447780.py, line 1)

In [21]:
2009_ingresos

SyntaxError: invalid decimal literal (176038607.py, line 1)

In [23]:
ingresos_2009 = 25000

In [25]:
print(ingresos_2009)

25000

In [29]:
print(Ingresos)

NameError: name 'Ingresos' is not defined

In [31]:
def = 10

SyntaxError: invalid syntax (3594483855.py, line 1)

In [33]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [37]:
help ("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [39]:
ingresos = 1000
gastos = 100
beneficios = ingresos - gastos

In [45]:
print(ingresos)
print(gastos)
print("Los beneficios han sido de:")
print(beneficios)

1000
100
Los beneficios han sido de:
900

In [49]:
mes = "junio"
print("Los beneficios de %s han sido %s millones" %(mes,beneficios))

Los beneficios de junio han sido 900 millones

In [51]:
print("Los beneficios de %s han sido %s millones" %(beneficios,mes))

Los beneficios de 900 han sido junio millones

In [57]:
mes = "agosto"
print("Los beneficios de", mes,"han sido", beneficios,"millones")

Los beneficios de agosto han sido 900 millones

In [61]:
# Comentario de línea
#print("Esto lo ignora")
print("Esto si lo ejecutara")

Esto si lo ejecutara

In [63]:
print("Fin del programa") #Esta línea indica que hemos terminado

Fin del programa

In [69]:
'''
Comentario multilinea
Puedo usar varias lineas sin tener que repetir el #
'''
"""
Los comentarios multilinea pueden ir
entre comillas dobles, y tampoco se ejecutan o interpretan
este
print("No se va a ejecutar")
"""
print("Este print si se va a ejecutar")

Este print si se va a ejecutar

In [71]:
ventas_jun_jul = ventas_jun + ventas_jul

ventas_jun = 100
ventas_jul = 150

NameError: name 'ventas_jun' is not defined

In [73]:
ventas_jun

NameError: name 'ventas_jun' is not defined

In [75]:
ventas_jun = 100
ventas_jul = 150
ventas_jun_jul = ventas_jun + ventas_jul

In [79]:
print("Las ventas de junio a julio son",ventas_jun_jul)

Las ventas de junio a julio son 250

In [83]:
altura = 1.80; peso = 75
print(altura, peso)

1.8 75

In [85]:
x,y,z = 12, 23, 45

In [87]:
x = 12
y = 23
z = 45

In [91]:
altura = 1.85
del altura
print(altura)

NameError: name 'altura' is not defined

In [93]:
numero = 22
type(numero)

int

In [97]:
numero_real = 22.0
print(type(numero_real))

<class 'float'>

In [99]:
numero_real_decimales = 22.45123
type(numero_real_decimales)

float

In [107]:
print("Sumas y restas")
print(1 + 2)
print(1.0 + 2) #Fijate que cuando sumo un float con int, el resultado es float
print( 1.0 - 2)#Siempre float como tipo de resultado

Sumas y restas
3
3.0
-1.0

In [111]:
print("Mult y div")
print(2 * 2)
print (2.0 * 2)
print(2 / 2)# El tipo de resultado de una división siempre va a ser float y habria que hacer cambio a int.

Mult y div
4
4.0
1.0

In [113]:
print("Resto División")
print(10/3)
print(int(10/3))
print(10 % 3)
print(10 // 3)

Resto División
3.3333333333333335
3
1
3

In [119]:
n = 434
print("¿Es" ,n, "par?")
resto = n % 2
print("El resto es",resto)
if resto ==0:
    print("Es par")
else:
    print("Es impar")

¿Es 434 par?
El resto es 0
Es par

In [1]:
# Con comillas dobles
cadena = "Esto es una variable de tipo string"

#Con comillas simples
cadena_2 = 'Esto es una variable de tipo string en comillas simples'
print(cadena)
print(cadena_2)

Esto es una variable de tipo string
Esto es una variable de tipo string en comillas simples

In [7]:
print("String con'simples'")
print('String con "dobles"')
print("String con \"simples o dobles\"")

String con'simples'
String con "dobles"
String con "simples o dobles"

In [11]:
print("Primera linea\nSegunda linea\tTercera linea, tabulada")

Primera linea
Segunda linea	Tercera linea, tabulada

In [15]:
mi_string = "primera lines\nSegunda Linea\n\tTercera linea, tabulada"
print(mi_string)

primera lines
Segunda Linea
	Tercera linea, tabulada

In [17]:
nombre = "Mirian"
apellido = "Moreno"
nombre_apellido = nombre + " " + apellido
print(nombre_apellido)

Mirian Moreno

In [19]:
nombre = "Mirian"
apellido = "Moreno"
espacio = " "
nombre_apellido = nombre + espacio + apellido
print(nombre_apellido)

Mirian Moreno

In [21]:
esto_es_una_prueba = "Pues eso, que estamos jugando"
un_entero = 100
print(esto_es_una_prueba + un_entero)

TypeError: can only concatenate str (not "int") to str

In [23]:
True

True

In [27]:
ya_se_de_python = False
print(type(ya_se_de_python))

<class 'bool'>

In [29]:
dinerito = 5
dinerito >= 15

False

In [31]:
dinerito = 15
cond_1 = dinerito >= 15
print(cond_1)
print(type(cond_1))

True
<class 'bool'>

In [35]:
print(type(1.0))

<class 'float'>

In [37]:
print(type(-74))

<class 'int'>

In [39]:
print(type("3.45"))

<class 'str'>

In [41]:
print(type(True))

<class 'bool'>

In [43]:
print(type(cond_1))

<class 'bool'>

In [51]:
num_real = 24.69
print(type(num_real))

num_entero = int(num_real)
print(num_entero)
print(type(num_entero))

<class 'float'>
24
<class 'int'>

In [53]:
# Función round--> 2 argumentos, el número y la cantidad de decimales a la que queremos redondear.
# Veremos funciones más adelante.
num_real = 24.686
num_redondeado = round(num_real,2)
print(num_redondeado)

24.69

In [55]:
num_redondeado = 24.69
num_convertido = round(num_redondeado,0)
print(num_convertido)
print(type(num_convertido))

25.0
<class 'float'>

In [57]:
print(int(num_convertido))

25

In [61]:
num_real = 24.69
num_entero = 12

real_str = str(num_real)
entero_str = str(num_entero)

print(real_str, "su tipo" , type(real_str))
print(entero_str, "su tipo", type(entero_str))

24.69 su tipo <class 'str'>
12 su tipo <class 'str'>

In [63]:
print(num_real + num_entero)
print(real_str + entero_str)

36.69
24.6912

In [65]:
mi_entero = 98
print(mi_entero)

98

In [69]:
mi_cadena = "98"
mi_entero = int(mi_cadena)

print(mi_cadena, type(mi_cadena))
print(mi_entero, type(mi_entero))
mi_cadena_real = "98,33"
mi_real = float(mi_cadena_real)

98 <class 'str'>
98 <class 'int'>

ValueError: could not convert string to float: '98,33'

In [73]:
mi_cadena_real = "98.33"
mi_real = float(mi_cadena_real)
print(mi_real, type(mi_real))

98.33 <class 'float'>

In [75]:
booleano = bool(123)
print(booleano, type(booleano))

True <class 'bool'>

In [77]:
booleano = bool(0)
print(booleano, type(booleano))

False <class 'bool'>

In [81]:
booleano = bool("")
booleano_2 = bool("Esto es otro tipo de booleano al hacer la conversión")
print(booleano, type(booleano))
print(booleano_2, type(booleano_2))

False <class 'bool'>
True <class 'bool'>

In [85]:
bool_str = str(booleano)
bool_2_str = str(booleano_2)
print(bool_str, bool_2_str)

False True